In [3]:
import numpy as np
import pandas as pd
!pip install fuzzywuzzy[speedup]
import tensorflow as tf
tf.test.gpu_device_name()

Requirement already satisfied: fuzzywuzzy[speedup] in /usr/local/lib/python3.6/dist-packages (0.18.0)
Requirement already satisfied: python-levenshtein>=0.12; extra == "speedup" in /usr/local/lib/python3.6/dist-packages (from fuzzywuzzy[speedup]) (0.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from python-levenshtein>=0.12; extra == "speedup"->fuzzywuzzy[speedup]) (49.6.0)

'/device:GPU:0'

In [4]:
df1=pd.read_excel('/Dataset M.xlsx')
df2=pd.read_excel('/Dataset O.xlsx')

In [5]:
df1.head()

                    medName  medlife_price  ...       strength pack_form
0           ABAMUNE 300 MG         1333.55  ...         300 MG     Strip
1                ABAMUNE L         2537.00  ...  Not Available     Strip
2  ACEFLEX PLUS 100/500 MG           15.99  ...     100/500 MG     Strip
3  ACEFLEX PLUS 100/500 MG           15.99  ...     100/500 MG
4             ACIGENE MINT            5.18  ...  Not Available     Strip

[5 rows x 8 columns]

In [6]:
df2.head()

                                        medName  ...       Strength
0                           Cofsils Cough Syrup  ...  Not Available
1             Nicogum 2 Mini Lozenges Mint Plus  ...  Not Available
2  Nicogum 4 Nicotine Gum Fresh Mint Sugar Free  ...  Not Available
3                            Nicotex 21mg Patch  ...           21mg
4   Nicotex 4mg Chewing Gums Classic Fresh Mint  ...            4mg

[5 rows x 10 columns]

In [7]:

from fuzzywuzzy import fuzz,process
import itertools

In [8]:
csv1=df1['medName'].values
csv2=df2['medName'].values
csv3=df1['manufacturer'].values
csv4=df2['manufacturer'].values

In [11]:
companies=list(itertools.product(csv1,csv2))
manufacturer=list(itertools.product(csv3,csv4))

In [13]:
df=pd.DataFrame(companies,columns=['medicine_name_sun','medicine_name_cipla'])
df_1=pd.DataFrame(manufacturer,columns=['manufacturer_1','manufacturer_2'])

In [16]:
df.head()

  medicine_name_sun                           medicine_name_cipla
0   ABAMUNE 300 MG                            Cofsils Cough Syrup
1   ABAMUNE 300 MG              Nicogum 2 Mini Lozenges Mint Plus
2   ABAMUNE 300 MG   Nicogum 4 Nicotine Gum Fresh Mint Sugar Free
3   ABAMUNE 300 MG                             Nicotex 21mg Patch
4   ABAMUNE 300 MG    Nicotex 4mg Chewing Gums Classic Fresh Mint

In [17]:
X=df[:400]
X_1=df_1[:400]

In [29]:
X['score']=X.apply(lambda row: fuzz.token_set_ratio(*row),axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
X_1['score']=X_1.apply(lambda row: fuzz.token_set_ratio(*row),axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
X.head()

  medicine_name_sun                           medicine_name_cipla  score
0   ABAMUNE 300 MG                            Cofsils Cough Syrup     18
1   ABAMUNE 300 MG              Nicogum 2 Mini Lozenges Mint Plus     26
2   ABAMUNE 300 MG   Nicogum 4 Nicotine Gum Fresh Mint Sugar Free     24
3   ABAMUNE 300 MG                             Nicotex 21mg Patch     25
4   ABAMUNE 300 MG    Nicotex 4mg Chewing Gums Classic Fresh Mint     18

In [32]:
X[(X['score']>50)]

    medicine_name_sun             medicine_name_cipla  score
20    ABAMUNE 300 MG      ALIANZ 100 MG/20 MG CAPSULE     53
24    ABAMUNE 300 MG           AMPISYN 500 MG CAPSULE     56
25    ABAMUNE 300 MG            AZEEMUNE 500MG TABLET     51
26    ABAMUNE 300 MG   Abamune L 600 mg/300 mg Tablet    100
27    ABAMUNE 300 MG                   Abamune Tablet     67
41    ABAMUNE 300 MG                 Aclene 0.10% Gel     55
54    ABAMUNE 300 MG                Adaclene 0.1% Gel     53
131   ABAMUNE 300 MG    Asthacrom 1 mg/100 mg Inhaler     55
262   ABAMUNE 300 MG     Bromolin 500 mg/8 mg Capsule     51

In [33]:
X_1[(X_1['score']>50)]

    manufacturer_1    manufacturer_2  score
0       CIPLA LTD.  Cipla Health Ltd    100
1       CIPLA LTD.  Cipla Health Ltd    100
2       CIPLA LTD.  Cipla Health Ltd    100
3       CIPLA LTD.  Cipla Health Ltd    100
4       CIPLA LTD.  Cipla Health Ltd    100
..             ...               ...    ...
395     CIPLA LTD.         Cipla Ltd    100
396     CIPLA LTD.         Cipla Ltd    100
397     CIPLA LTD.         Cipla Ltd    100
398     CIPLA LTD.         Cipla Ltd    100
399     CIPLA LTD.         Cipla Ltd    100

[400 rows x 3 columns]